/* Base Reset */
* {
    border: none;
    border-radius: 8px;
    font-family: Roboto Mono SemiBold, Firacode Nerd Font;
    font-size: 14px;
    min-height: 0;
}

/* Tooltip */
tooltip {
    background: #223249; /* waveBlue1 */
    border-radius: 8px;
    opacity: 0.95;
}
tooltip label {
    font-size: 12px;
    color: #DCD7BA; /* fujiWhite */
}

/* Bar Base */
window#waybar {
    background: #1F1F28; /* sumiInk3 */
    color: #DCD7BA;      /* fujiWhite */
    border: 2px solid #DCD7BA;
}

/* Workspaces */
#workspaces {
    background: #2A2A37; /* sumiInk4 */
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}
#workspaces button {
    padding: 0 5px;
    margin: 0 3px;
    border-radius: 16px;
    color: #C8C093;           /* oldWhite */
    transition: all 0.3s ease-in-out;
}
#workspaces button.active,
#workspaces button:hover {
    background-color: #C8C093;
    color: #223249;          /* waveBlue1 */
    border-radius: 4px;
}

#workspaces button.urgent {
  color: #C34043; /* foreground color (text/icon) */
  background-color: #C8C093;
}

/* Shared Module Styling */
#clock, #pulseaudio, #network, #cpu, #memory, #disk,
#language, #battery, #bluetooth, #cava, #custom-pacmanAlt {
    border-radius: 8px;
    margin: 5px;
    padding: 0 10px;
    font-weight: bold;
}

/* Individual Modules */
#clock {
}

#network {
}

#pulseaudio {
}

#cpu {
}

#memory {
}

#disk {
    border-radius: 16px;
}

#language, #battery, #bluetooth, #cava, #custom-pacmanAlt {
}

/* Launcher */
#custom-launcher {
    color: #DCD7BA;
    padding: 0 20px;
    font-size: 20px;
}

/* Player + Window */
#custom-playerctl, #custom-playerlabel, #window {
    background: #1F1F28;
    padding: 0 10px;
    border-radius: 16px;
    margin: 5px;
}

/* Logo */
#custom-logo {
    color: #7E9CD8; /* crystalBlue */
    padding: 0 7px;
}

/* Tray */
#tray {
    margin: 5px;
    border-radius: 16px;
    padding: 0 12px;
}

#idle_inhibitor {
    margin: 8px;
}
